@model IEnumerable<Category>

@{
    ViewData["Title"] = "Kategori Admin";
}

<h1>Kategori Admin</h1>

<p>
    <a asp-action="Create">Yeni Kategori Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoryID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
